.app--tweet
  form(method='post' action='/send')
    .circle--fluid
      .circle--fluid--cell.circle--fluid--primary.align-bottom.app--tweet--post
        .app--avatar-form
          img(src=url)
        textarea#tweet-textarea.circle--textarea--input(placeholder="What's happening?", type='text', name='message')
        strong#tweet-char.app--tweet--char 140
      .circle--fluid--cell.align-bottom
        button.button-primary Tweet
