header.circle--header(style='background-image: url('+ banner +')')
  .bounds
    .circle--fluid
      .circle--fluid--cell
        a.logo(href='/')
          img(class="urlImage" src=url)
          h1 @#{userName}
      .circle--fluid--cell.align-right
        nav
          ul.circle--inline
            li
              a Sign Out
